/* -------------1024--------------- */

@media(max-width:1024px) {
    .container {
        width: 100%;
        max-width: 1024px;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0 90px;
    }

    /* -----1024--sec01 */
    .sec01 {
        width: 100%;
        height: 588px;
        padding: 60px 0;
    }

    /* .sec01-kv {
        display: flex;
        flex-wrap: wrap;
        max-height: 328px;
        gap: 20px;

    } */
    .sec01-minbox1 {
        padding: 0;
    }

    .kv-CTA1 img {
        scale: 0.8;
    }

    .sec01-visual {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: #FFDF70;
        overflow: hidden;
    }

    .visual-swiper {
        height: 328px;
        margin-bottom: 40px;
    }

    /* .visual-slide {
        display: flex;
    } */


    /* .swiper-slide img {
        width: 45%;
        height: 100%;
        padding: 20px 0 0 20px;
        object-fit: cover;
    } */

    .kv-text0 {
        padding: 60px 40px 20px;
        line-height: 70px;
    }

    .kv-text1 {
        font-weight: 500;
        font-size: 45px;
    }


    /* -----------버튼 상자----------- */
    .sec01-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        ;
    }

    .kv-CTA1 {
        flex: 1;
        min-width: 0;
        border-radius: 20px;
        padding: 20px 40px;
        border: 1px solid var(--gray-color2);
        background-color: var(--white-color);
        display: flex;
        justify-content: space-evenly;
    }

    .sec01-minbox1 {
        padding-right: 20px;
    }

    .sec01-sub {
        font-size: 24px;
        align-items: center;
    }

    /* --------1024--sec04----- */

    .swiper-button-next,
    .swiper-button-prev {
        margin: 260px 400px 0 400px;
    }

    /* ----------1024--sec05 */

    .sec05 {
        width: 100%;
        max-width: 1024px;

    }

    /* -------------1024---ask---- */
    .sec06 {
        width: 100%;
        max-width: 1024px;
        height: 548px;
        margin: 0 auto;
    }

    .sec06-ask {
        margin: 0 auto;
        max-width: 1024px;
        padding: 60px 90px 60px 90px;
    }

    .sec06-img {
        width: 310px;
        height: 407px;
    }

    .sec06-box {

        padding: 40px;
    }

    .sec06-item input {
        width: 340px;

    }

    .sec06-kind {
        width: 340px;
        margin-left: 40px;
    }

    /* .sec06-btn {

        padding: 10px 20px;
    } */


    /* --------------1024-footer */


    .footer {

        max-width: 1024px;
    }

    .footer-wrap {
        max-width: 1024px;
    }

}

/* -------768---------------  */

@media(max-width:768px) {

    .container {
        width: 100%;
        width: 768px;
        margin: 0 auto;
        padding: 0 60px;
    }

    .f-title1 {
        font-size: 20px;
    }

    .header {
        height: 50px;
    }

    .logo img {
        width: 90px;
        height: 50px;
    }

    .hambuger-btn {
        display: block;
    }

    .close-btn {
        display: none;
    }

    .header-container {
        padding: 0;
    }

    .header-nav {
        box-sizing: border-box;
        position: absolute;
        top: 50px;
        left: 0;

        width: 100%;
        padding: 0 70px;

        font-size: 16px;
        text-align: right;

        display: none;

    }

    .header-nav.on {
        display: flex;
        justify-content: flex-end;
        padding: 20px 60px;
        background-color: var(--sub-color1);

    }

    .hambuger-btn.hide {
        display: none;
    }

    .close-btn.show {
        display: block;
    }

    /*----------768---sec01--------------- */

    .sec01 {
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
        padding: 10px 0 60px 0;
        height: 485px;
    }

    .sec01-kv {
        margin-top: 0;
        height: 267px;
        flex-wrap: wrap;
    }

    .sec01-visual {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    /* .swiper-slide img {
        width: 360px;
        height: 280px;
        padding: 0 0 20px 10px;
        object-fit: cover;
    } */

    .kv-text0 {
        padding: 60px 20px 0px 0;
        line-height: 50px;
    }

    .kv-text1 {
        font-weight: 500;
        font-size: 30px;
    }

    /* ----------768 버튼상자------------- */

    .sec01-sub {
        font-size: 18px;
    }

    .kv-CTA1 {
        font-size: 13px;
        padding: 20px 20px;
        height: 131px;
    }

    .kv-cta {
        margin-top: 10px;
        padding: 5px 40px;
    }

    .des1 {
        display: none;
    }

    /* ------------------768-----sec02------ */
    /* 
    .sec02 {
        height: 580px;
    }

    .sec02-title0 {
        padding: 60px 0 0 0;
    }

    .sec02-why {
        line-height: 20px;
    }

    .sec02-des {
        font-size: 20px;
    }

    .sec02-b {
        font-size: 30px;
        margin-bottom: 20px;
    } */

    /* ---------------=768 sec02 카드 */
    /* 
    .swiper-wrapper2 {

        width: 300%;
        margin-left: 20px;
        padding: 20px auto 20px 20px;

    }

    .swiper-slide2 {
        line-height: 30px;
        padding: 20px;

        width: 100%;
        max-width: 340px;
        height: 360px;
        margin: 20px 20px 0 0;
    }

    .swiper-slide2 img {
        scale: 0.7;
        position: static;
        height: 140px;

        background-size: cover;
        object-fit: cover;
    }

    .sec02-num {
        font-size: 12px;
        height: 24px;
        line-height: 6px;
    }

    .sec02-title {
        font-size: 20px;
        line-height: 40px;
        margin-top: 5px;
    }

    .sec02-des02 {
        display: none;
    }

    .sec02-mo-des02 {
        display: block;
        font-size: 14px;
        color: var(--gray-color1);
        font-weight: 400;
        line-height: 24px;
    }

    .sec02-warn {
        font-size: 12px;
    } */

    /* ----------sec02 페이지네이션--------- */
    /* .swiper-pagination2 {

        width: 80px;
        height: 8px;
        border-radius: 10px;
    }

    .swiper-pagination2-fill {

        width: 25px;
        height: 6px;
        border-radius: 4px;
    } */

    /* -------sec02 그라디언트--------- */

    /* .radial02 {
        width: 200px;
        height: 580px;
    }

    .radial03 {
        width: 200px;
        height: 580px;
    } */

    /* ---------768------sec03---------- */
    /* 여기서부터 확인하고 만들어주세요 */

    .sec03 {
        height: 1060px;
    }

    .sec03-phone-list {
        gap: 20px;
    }

    .sec03-tab {
        gap: 40px;
    }

    .btn3 {
        font-size: 13px;
        padding: 5px 15px;
    }

    /* -----카드 안 내용물 떨어지기----- */
    .sec03-item {
        width: calc((100%-100px) / 6 * 3 + 40px);
        padding: 40px;
        height: 390px;

        flex-wrap: nowrap;
        flex-direction: column;

    }

    .sec03-item img {
        max-width: 360px;
        max-height: 180px;
        object-fit: cover;

    }

    .sec03-des {
        width: 100%;
        padding: 0;
        text-align: center;

    }

    .sec03-des img {
        max-width: 150px;
        padding-bottom: 15px;
    }

    .sec03-btn4 {
        letter-spacing: 01px;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid var(--gray-color-sub);
    }

    /* ---768---sec04 확인하기------ */
    .sec04 {
        width: 100%;
        max-width: 768px;
        height: 600px;
    }

    .sec04-title {
        line-height: 35px;
        padding-bottom: 20px;
    }

    .sec04-T {
        padding-bottom: 0;
    }

    .sub-title2 {
        font-size: 18px;
    }

    .sec04-mo {
        font-size: 16px;
        color: var(--gray-color1);
    }

    .sec04-cards {
        height: 323px;
    }

    .sec04-cards>img {
        width: 169px;
        height: 120px;
    }

    .des04 {
        line-height: 20px;
        height: 60px;
        font-size: 13px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        scale: 0.4;
        margin: 190px 300px 0 300px;
        display: block;
    }

    /* -------768--live/ ask------------- */
    .sec05 {
        display: none;
    }

    .sec06 {
        height: 623px;
    }

    .sec06-item input {
        font-size: 14px;

    }

    .sec06-img {
        display: none;
    }

    .sec06-box {
        /* width: 452px; */
        margin-left: 40px;
    }

    /* --------768--footer----------- */
    .footer-bottom {
        padding: -20px 0 0 0;
    }

    .footer-right {
        display: none
    }

    .footer-right2 {
        display: none;
    }
}

/* ------480size------------ */
@media(max-width:480px) {

    .container {
        width: 100%;
        max-width: 480px;
        margin: 0;
        padding: 0 20px;
    }

    .header-container {
        width: 100%;
        height: 50px;
    }

    /* ----------480-------sec01 */

    .sec01 {
        width: 100%;
        max-width: 480px;
        padding: 0px 0 20px 0;
        height: 375px;
    }

    .sec01-kv {
        height: 355px;
    }

    .sec01-visual {
        height: 200px;
    }

    /* 
    .swiper-wrapper {
        height: 160px;

    } */

    /* .swiper-slide img {
        width: 200px;
        height: 200px;
        scale: 0.8;
        padding: 20px 0 20px 10px;
        object-fit: cover;
    } */

    .kv-text0 {
        padding: 40px 20px 0px 0;
        line-height: 40px;
        font-weight: 500;
        font-size: 12px;
    }

    .kv-text1 {
        font-size: 24px;
        width: 280;
    }

    .swiper-pagination {
        scale: 0.8;
    }

    /* --------------- */
    .sec01-minbox1 {
        padding: 0 5px 0 0;
    }

    .sec01-sub {
        letter-spacing: 4px;
        padding: 0 5px;
        font-size: 14px;
    }

    .kv-CTA1 {
        padding: 5px auto;
    }

    .kv-CTA1 img {
        width: 88px;
        height: 84px;

    }

    .kv-cta {
        width: 90px;
        font-size: 14px;
        padding: 5px 10px;
    }

    /* ----------480--sec02 */
    /* .sec02 {
        height: 500px;
    }

    .sec02-title0 {
        padding: 40px 0 0 0;
    }

    .sec02-why {
        
        line-height: 10px;
    }

    .sec02-num {
        margin-bottom: 5px;
    }

    .sec02-des {
        font-size: 14px;
    }

    .sec02-b {
        font-size: 20px;
        margin-bottom: 20px;
    } */

    /* --------------480 02card----- */

    /* .swiper-wrapper2 {

        width: 400%;
        margin-left: 20px;
        padding: 20px auto 20px 20px;

    }

    .swiper-slide2 {
        line-height: 20px;
        padding: 20px;

        width: 100%;
        max-width: 324px;
        height: 362px;
    }

    .swiper-slide2 img {
        scale: 0.7;
        position: static;
        height: 140px;

        background-size: cover;
        object-fit: cover;
    }

    .sec02-title {
        font-size: 18px;
        line-height: 30px;
    }

    .swiper-pagination2 {
        margin: 10px auto 0;
    } */

    /* -------sec02 그라디언트--------- */

    /* .radial02 {
        width: 150px;
        height: 500px;
    }

    .radial03 {
        width: 150px;
        height: 500px;
    } */

    /* -------480---------sec03 */
    .sec03 {
        height: 545px;
        padding: 20px 0;
    }

    .sec03-title {
        padding: 0;
    }

    .sec03-item {
        width: 100%;
        max-width: 440;
        padding: 20px;
        height: 174px;


        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .sec03-item img {
        max-width: 50%;
        max-height: 135px;
        object-fit: cover;

    }

    .sec03-des {
        text-align: right;
        width: 40%;
    }

    .sec03-des img {
        transform: translateX(15px);
        scale: 0.8;
        max-width: 130px;
        padding: 5px 0 5px 0;
    }

    .sec03-1160s {
        font-size: 18px;
    }

    .font-des1 {
        font-size: 12px;
        font-weight: 400;
    }

    .sub-title2 {
        font-size: 18px;
    }

    .sec03-item:nth-child(3),
    .sec03-item:nth-child(4) {
        display: none;
    }

    .sec03-btn4 {
        letter-spacing: 0px;
        padding: 5px 10px;
        font-size: 14px;
    }

    /*  ------------------480 sec04 */
    .sec04 {
        max-width: 480px;
        height: 480px;
        padding: 20px 0;
    }

    .sec04-title {
        line-height: 24px;
    }

    .sec04-T {
        font-size: 18px;
        padding: 0;
    }

    .sec04-cards>img {
        width: 169px;
        height: 120px;
    }

    .swiper3 {
        height: 500px;
    }

    .swiper-slide3,
    .sec04-cards {
        padding: 20px;
        height: 290px;
    }

    .sec04-mo {
        font-size: 14px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        height: 80px;
        scale: 0.4;
        margin: 80px 160px 0 160px;
    }

    /* ------------------480 sec06 */
    .sec06 {
        height: 480px;
    }

    .sec06-title {
        line-height: 30px;
        padding: 10px 0 0 0;
    }

    .sec06-title>h4 {
        font-size: 16px;
    }

    .sec06-title>h2 {
        font-size: 18px;
    }

    .sec06-box {
        width: 441px;
        margin-left: 20px;
        padding: 20px;
        line-height: 20p;
    }

    .sec06-kind {
        margin-left: 20px;
    }

    .sec06-ask {
        padding: 40px 0;
    }

    .sec06-btn {
        padding: 15px 60px;
        border-radius: 10px;

    }

    /* --------480--footer----------- */
    .footer {
        font-size: 12px;
        line-height: 15px;
    }

    .footer-bottom>p {
        padding: 10px 0 0 0;
    }


}